<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {%- seo -%}
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet">
  <!-- icofont css -->
  <link rel="stylesheet" href="{{ "/assets/fonts/icofonts/icofont.min.css" | relative_url }}">
  <!-- owl carousel css -->
  <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.css" | relative_url }}">
  <!-- lightbox css -->
  <link rel="stylesheet" href="{{ "/assets/css/lightbox.min.css" | relative_url }}">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
  <!-- style css -->
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
  
</head>
