<!-- owner quot begin -->
<div class="owner-quot-area">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-4 col-md-4">
                <div class="part-owner-pic">
                    <img src="{{site.baseurl}}/{{site.data.owner.owner_quote.owner-picture}}" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-8 d-flex align-items-center">
                <div class="part-owner-quot">
                    <h4>{{site.data.owner.owner_quote.name}}</h4>
                    <h5>{{site.data.owner.owner_quote.position}}</h5>
                    <p><span>“</span>Your mindset matters. It affects everything - from the business and investment decisions you make, to the way you raise your children, to your stress levels and overall well-being...</p>
                    <div class="owner-signature">
                        <img src="{{site.baseurl}}/{{site.data.owner.owner_quote.signature}}" alt="">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- owner quot end -->