/*****************************************
    17. blog details area
*****************************************/
.blog-details-area {
    padding: 120px 0;
    .part-image {
        height: 300px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 44px;
        img {
            width: 100%;
        }
    }
    .blog-body {
        padding-left: 100px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            left: 35px;
            top: 0;
            width: 30px;
            height: 100%;
            background: #efefef;
        }
        .blog-details-title {
            text-transform: capitalize;
        }
        .post-content p {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 30px;
        }
        .post-meta {
            margin-bottom: 27px;
            time {
                font-size: 16px;
                color: #848484;
                margin-right: 10px;
                i {
                    margin-right: 6px;
                }
            }
            .p-author {
                display: inline-block;
                font-size: 16px;
                color: #848484;
                i {
                    margin-right: 6px;
                }
            }
        }
    }
}