/*****************************************
	5. brand
*****************************************/
.brand-area {
    padding: 96px 0 70px;
}
.brand-area .single-brand {}
.brand-area .single-brand img {
    width: 100%;
    height: auto;
    border: 2px solid rgba(85, 85, 85, 0.49);
    margin-bottom: 30px;
    padding: 10px 20px;
}