/*****************************************
	16. footer
*****************************************/
.footer-area {
	text-align: center;
	background: #000;
}
.footer-area p {
    color: #bfbfbf;
    margin: 0;
    padding: 28px 0;
}