/*****************************************
	3. header
*****************************************/
.header-area {}
.header-area .logo {}
.header-area .logo a {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.header-area .nav-btn {
	display: none;
}
.header-area .main-menu {
    width: 100%;
    text-align: right;
}
.header-area ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.header-area ul li {
	display: inline-block;
    position: relative;
}
.header-area ul li a {
    text-transform: capitalize;
    padding: 22px 15px;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
}
.header-area ul li a:after {
    position: absolute;
    content: '';
    left: 3px;
    border-radius: 50%;
    bottom: 50%;
    width: 30px;
    height: 30px;
    z-index: -1;
    margin-bottom: -15px;
    background: #17b6e6;
    opacity: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .6s;
}
.header-area ul li a:hover:after,
.header-area ul li a:focus:after {
	opacity: .7;
}
.header-area ul li:last-child a {
	padding-right: 0;
}
.header-area {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}
.fixed-navbar {
	position: fixed;
	background: #131313;
}
.header-area ul li ul {
    display: none;
    position: absolute;
    left: 0;
    text-align: left;
    top: 63px;
    background: #131313;
}
.header-area ul li ul li {
    display: block;
    width: 130px;
}
.header-area ul li:hover ul {
    display: block;
}
.header-area ul li ul li a {
    padding: 15px 15px;
    border-top: 1px solid #525252;
    display: block;
}
.header-area ul li ul li a:hover {
    background: #fff;
    color: #131313;
}