/*****************************************
	12. review
*****************************************/
.review-area {
	padding: 120px 0;
	background-color: #f6f7fe;
	background: url('../img/user-bg.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	z-index: 2;
	text-align: center;
}
.review-area:after {
    position: absolute;
    content: '';
    background: rgba(246, 247, 254, 0.94);
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
}
.review-area .area-title {
    text-align: center;
    margin-bottom: 78px;
}
.review-area .area-title h2 {
    color: #373737;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 13px;
    margin-top: -7px;
    position: relative;
    z-index: 2;
    display: inline-block;
}
.review-area .area-title h2:after {
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -10px;
    border-radius: 50% 40px 0 0;
    bottom: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #f6f7fe;
    z-index: -1;
    margin-bottom: -60px;
    background: #17b6e6;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}
.review-area .area-title h2:before {
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -100px;
    bottom: 50%;
    width: 200px;
    height: 4px;
    z-index: -1;
    margin-bottom: -52px;
    background: #17b6e6;
    opacity: .3;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}
.review-area .part-img {
    width: 80px;
    position: relative;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 33px;
    border-radius: 15% 65px 15% 0px;
    z-index: 2;
}
.review-area .part-img:after {
	position: absolute;
	content: '';
	left: 60%;
	margin-left: -40px;
	width: 80px;
	top: 0;
	height: 110%;
	background: #17b6e6;
    border-radius: 15% 65px 15% 0px;
    z-index: -1;
}
.review-area .part-img img {
    width: 100%;
    border-radius: 15% 65px 15% 0px;
}
.review-area .part-text {}
.review-area .part-text h4 {
    font-size: 22px;
    color: #555;
    font-weight: 600;
    margin-bottom: 17px;
}
.review-area .part-text p {
	font-size: 16px;
	color: #777777;
}
.review-area .review-carousel .owl-controls .owl-nav div {
    display: inline-block;
    width: 60px;
    padding: 3px 0;
    color: #fff;
    background: #17b6e6;
    margin-right: 10px;
    margin-top: 20px;
    border: 1px solid #17b6e6;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}
.review-area .review-carousel .owl-controls .owl-nav div:last-child {
	margin-right: 0;
}
.review-area .review-carousel .owl-controls .owl-nav div:hover {
	border: 1px solid #17b6e6;
	background: #fff;
	color: #17b6e6;
}
